@import "imports";

.content {
  background-color: #FCFCFC;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  @include single-box-shadow;
}
